@import  '../shared/login-common.component.scss';

.register-form{
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    max-height: 500px;
    overflow: auto;
    padding: 0 10% 15px;

    .input-error{
        color: #b24626;
        font-size: 12px;
        font-weight: 300;
        margin: 0;        
    }
}

