@import  '../shared/login-common.component.scss';

.login-form {
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    max-height: 500px;
    overflow: auto;
    padding: 0 10% 15px;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    margin: auto;
}