<div class="profile-edit-container">
    <h3 class="text-center slideanim">Edit Profile</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="mydetails slideanim text-center">
                    <div style="width: 200px; height: 200px;"></div>
                    <input class="uk-input" type="text" placeholder="Your full name" />
                    <input class="uk-input" type="text" placeholder="Your position" />
                    <div class="social-icons">
                        <div>
                          <span class="facebook"></span>
                          <input class="uk-input" type="text" placeholder="Facebook" />
                        </div>
                        <div>
                          <span class="twitter"></span>
                          <input class="uk-input" type="text" placeholder="Twitter" />
                        </div>
                        <div>
                          <span class="linkedin"></span>
                          <input class="uk-input" type="text" placeholder="Linkedin" />
                        </div>
                        <div>
                          <span class="googleplus"></span>
                          <input class="uk-input" type="text" placeholder="Google+" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="myskills slideanim">
                    <h3 class="text-center">My Skill Info</h3>
                    <p class="skill-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="skill-info">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="uk-input" type="text" placeholder="Skill name" />
                                        </td>
                                        <td><span class="longline1"></span><span class="shortline1"></span></td>
                                        <td>
                                            <input class="uk-input" type="text" placeholder="Percent" />
                                            <span>%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="uk-button uk-button-primary">Add new skill</button>
                                        </td>
                                        <td><span class="longline5"></span><span class="shortline5"></span></td>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
          <button class="uk-button uk-button-primary">Update</button>
          <button class="uk-button uk-button-default">Cancel</button>
        </div>
    </div>
</div>