h2.heading{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.input-box {
    width: 100%;
    padding: 15px 10px 15px;
    font-size: 15px;
    background: transparent;
    border: 2px solid #537b35;
    outline: none;
    margin-bottom: 10px;

    color: #fff;

    &.error{
        border-color: #b24626;
    }
}

.checkbox-field {
    position: relative;
    padding-left: 25px;
    border: #F0F8FF;
    display: inline-block;
    font-size: 14px;
    color: #fff;

    input[type=checkbox]{
        display: none;     
    }

    .checkbox-input{
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 2px solid #537b35;
        position: absolute;
        top: 3px;
        left: 0px;
        bottom: 2px;

        &.checked{
            background: url(../../../assets/images/tick.png) no-repeat;
        }
    }

    .checkbox-text {
        float: left;
    }
}

a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;

    &:hover {
        color: #537b35;
    }
}

.submit-button{
    font-size: 16px;
    margin: 30px auto;
    padding: 10px 65px;
    background-color: #537b35;
    color: #FFF;
    border: none;
    border-radius: 0px;
    outline: none;
    float: none;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #537b35;
    }

    &:disabled{
        cursor: not-allowed;
        color: whitesmoke;
        background: grey;
    }
}

.navigate-button{
    float: none;
    color: #fff;
    border: 1px solid #fff;            
    font-weight: 600;
    padding: 8px 20px;

    &:hover {
        color: #537b35;;
        border: 1px solid #537b35;
    }
}

.plain-text{
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.input-field {
    margin-bottom: 1.25em;
}

.text-align-center {
    text-align: center;
}

.general-errors{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: left;
}